html {
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: 15pt;
  }

body {
    background: linear-gradient(170deg, white 0%, white 14.9%, #fbdd11 15%, #FBDD10 84.99%, white 85%, white 100%);
    height: 100vh;
    margin: 0 auto;
}
  
  .nav {
    display: flex;
    justify-content: end;
    padding: 15pt;
    background-color: white;
  }
  
  /* .nav > * {
    display: inline-block;
  } */
  
  .nav > a {
    /* padding-top: 15px; */
    text-decoration: none;
    color: black;
    margin-right: 16pt;
  }
  
  .nav>a:hover {
    color: yellow;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    grid-gap: 32pt;
    /* align-items: center;
    align-self: stretch; */
  }
 
  .grid > div {
    /* width: 80%; */
    border-radius: 3px;
    padding: 12pt;
  }
  
  .grid h2, .grid h3 {
    text-align: center;
    text-transform: uppercase;
  }
  .ad {
    height: 150px; 
    width: 100vw;
    content: '';
    margin: 16pt 0;
  }
  .split {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    line-height: 1;
    }
    .split span:last-child {
      font-weight: 800;
    }
  .shadow {
      box-shadow: -1px 1px 5pt dimgrey;
  }
  .invisible {
    display: none;
  }
  .card {
    background-color: #fbcb10;
  }
  #address {
    width: 100%;
  }

  .split input, button {
    font-size: 14pt;
    
  }

  .split button {
    padding: 4pt;
    margin-left: 5pt;
  }

  .loader {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
  }

  .loader svg {
    animation: spin 1s infinite;
    border-radius: 30px;
    background-color: black;
  }
  
  @keyframes spin{
    0%{
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100%{
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }